@model EWWebApp.Backend.EWBackend;

<h2>Guess Shift</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <th>
                       # of Guesses
                    </th>
                    <th>
                        Guessed Correct
                    </th>
                    <th>
                        Word
                    </th>
                </tr>
                <tr>
                    <td>
                        @Model.NumberOfGuesses
                    </td>
                    <td>
                        @Model.Correct
                    </td>
                    <td>
                        @Model.Word
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br />
<br />

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="col-md-4 text-left">
            <div class="row">
                @Html.AntiForgeryToken()
                @Html.EditorFor(m => m.Guess)
                @Html.ValidationMessageFor(m => m.Guess)
            </div>
            <div class="col-md-4 col-md-offset-1 text-center">
                <div class="row">
                    <br />
                    <input type="submit" value="Submit" class="btn btn-succss" />
                </div>
            </div>
        </div>
    }
</div>