@model EWWebApp.Backend.EWBackend;

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Guess Shift</h2>
            <table class="resultTable">
                <tr>
                    <th>
                        # of Guesses
                    </th>
                    <th>
                        Guessed Correct
                    </th>
                    <th>
                        Encrytped Word
                    </th>
                    @{
                        if (Model.Correct == true)
                        {
                            <th>
                                Original Word
                            </th>
                        }
                    }
                </tr>
                <tr>
                    <td>
                        @Model.NumberOfGuesses
                    </td>
                    <td>
                        @Model.Correct
                    </td>
                    <td>
                        @Model.Result
                    </td>
                    @{
                        if (Model.Correct == true)
                        {
                            <td>
                                @Model.Word
                            </td>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>
</div>

<br />
<br />

<div class="container">
    <div class="col-md-4 text-left">
        @using (Html.BeginForm())
        {

            <div class="row">
                @Html.AntiForgeryToken()
                @Html.EditorFor(m => m.Guess)
                @Html.ValidationMessageFor(m => m.Guess)
            </div>
            <div class="row">
                <br />
                <input type="submit" value="Submit" class="btn btn-succss" />
                @Html.ActionLink("Reset", "Reset", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        }      
    </div>
</div>